.product-view-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 60%;
}

.product-view {
  width: 70%;
  min-width: 700px;
  height: 100%;
  display: flex;
}

.product-left {
  height: 100%;
  width: 55%;
  min-width: 300px;
}

.product-left .product-image {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product-left .product-image .slide-panel {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: scroll;

  object-fit: cover;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.product-left .product-image .slide-panel::-webkit-scrollbar {
  display: none;
}

.prev,
.next {
  width: 2em;
  height: 2em;
  cursor: pointer;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.25s;
}

.prev:hover,
.next:hover {
  transform: scale(1.25);
}

.product-left .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  scroll-snap-align: start;
  /* border-radius: 10p; */
}

.product-right {
  height: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.product-right h2 {
  font-size: 1.5rem;
}

.product-right .rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-right .rating .star-icon {
  color: #339999;
  cursor: pointer;
  transition: all 0.3s;
}

.product-right .rating:hover .star-icon {
  color: #85c1c1;
}

.product-right .rating span {
  font-size: 0.8rem;
  font-weight: 400;
}

.product-right .price {
  color: #ff0000;
  font-weight: 600;
  font-size: 0.9rem;
}

.product-right .size-chart-title {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  transition: all 0.3s;
  cursor: pointer;
}

.product-right .size-chart-title:hover {
  color: rgb(114, 113, 113);
}

.product-right .size-chart p {
  font-size: 0.8rem;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.product-right .size-chart p:hover {
  color: rgb(114, 113, 113);
}

.product-right .size-chart p span {
  font-size: 0.6rem;
  font-weight: 800;
}

.product-right .size-chart select {
  background-color: #cfc2c2;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;

  transition: all 0.3s;
}

.product-right .size-chart select:hover {
  border-radius: 0;
}

.product-right .quantity {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.product-right .quantity p {
  font-size: 0.7rem;
  transition: all 0.3s;
  cursor: pointer;
}

.product-right .quantity p:hover {
  color: rgb(114, 113, 113);
}

.product-right .quantity input {
  text-align: center;
  background-color: #cfc2c2;
  border: none;
  outline: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 8px;
  width: 100%;

  transition: all 0.3s;
}

.product-right .quantity input:hover {
  border-radius: 0;
  transition: all 0.3s;
}

.product-right button {
  padding: 15px 18px;
  background-color: #141218;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.product-right button:hover {
  border-radius: 0;
}

.product-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-description h3 {
  font-size: 0.9rem;
}

.product-description p {
  font-size: 0.75rem;
}

.production-country {
  font-weight: 700;
  font-size: 0.9rem;
}

.wash-care {
  font-weight: 700;
  font-size: 0.7rem;
}

.catalog {
  display: flex;
  align-items: center;
  gap: 10px;
}

.catalog p {
  font-weight: 500;
  font-size: 0.75rem;
}

.catalog span {
  font-weight: 500;
  font-size: 0.65rem;
  background-color: #cfc2c2;
  padding: 5px 8px;
  border-radius: 10px;
  transition: all 0.3s;
}

.catalog span:hover {
  background-color: #141218;
  color: white;
}

/* @media screen and (max-width: 1030px) {
  .product-view {
    flex-direction: column;
  }

  .product-view-container {
    height: fit-content;
  }

  .product-left {
    width: auto;
  }

  .product-right {
    width: auto;
  }
} */

@media screen and (max-width: 725px) {
  .product-view-container {
    height: fit-content;
  }

  .product-view {
    flex-direction: column;
    min-width: 10px;
    width: 90%;
  }

  .product-left {
    margin: auto;
  }

  .product-right {
    width: 100%;
    margin: auto;
  }
}
